## REWRITE DEFAULTS
RewriteEngine On
RewriteBase /

## USER-FRIENDLY
RewriteRule ^(\w+)$ index.php?page=$1 [L,NC,QSA]
RewriteRule ^(\w+)+\/$ index.php?page=$1 [L,NC,QSA]

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

#Prevent directory listings
Options All -Indexes

ErrorDocument 404 https://betwing.eu/lost
ErrorDocument 403 https://betwing.eu/lost
