<div class="match-container">
	<span>[time]</span>
	<span class="match-info">[info]</span>

	<a href="match?id=[id]">

		<div class="match match-over">

			[team1-winner]

			<span class="match-box">
				<span class="match-team">[team1]</span>
				<span class="match-percent">[percent1]</span>
			</span>

			<img src="style/img/teams/[img1].png" class="match-logo" />

			<span class="match-vs">vs</span>

			<img src="style/img/teams/[img2].png" class="match-logo" />

			<span class="match-box">
				<span class="match-team">[team2]</span>
				<span class="match-percent">[percent2]</span>
			</span>

			[team2-winner]
			
		</div>

	</a>
</div>